#map {
  margin-bottom: 3rem;
  padding: 1rem;
}

#map-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 5%;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 1200px) {
  #map-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1600px) {
  #map-container {
    width: 50%;
  }
}

