#bar-charts {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 650px);
  gap: 1rem;
  justify-content: center;
}

.jvp-chart {
  box-shadow: 0 0 10px rgba(99,110,250,0.2);
  padding: 2rem;
  margin-top:1rem;
  margin-bottom:1rem;
  border-radius: 5%;
}

.jvp-chart > h3 {
  font-size: 1.15rem;
}

@media only screen and (min-width: 1200px) {
  .jvp-chart > h3 {
    font-size: 1.75rem;
  }
}

