include koffie_frontend_challenge/koffie_frontend_challenge.min.js
include koffie_frontend_challenge/koffie_frontend_challenge.min.js.map
include koffie_frontend_challenge/async-*.js
include koffie_frontend_challenge/async-*.js.map
include koffie_frontend_challenge/*-shared.js
include koffie_frontend_challenge/*-shared.js.map
include koffie_frontend_challenge/metadata.json
include koffie_frontend_challenge/package-info.json
include README.md
include LICENSE
include package.json
